/*
font-family: 'Press Start 2P', cursive;
*/

h2{
    color:green;
    font-family: consolas;
}

h3{
    color: yellow;
    font-family: consolas;
}

p{
    color: white;
    font-family: consolas;
}

.ListaDeHabilidadesYContacto{
    color: white;
    font-family: consolas;
}

#CajaPerfil{
    width: 900px;
    height: 680px;
    box-sizing: border-box;
    margin-left: 70px;
}
.NombreCompleto{
    margin-left: -75px;
    font-family: 'Press Start 2P', cursive;

}
#CajaProfesion{
    width: 700px;
    height: 200px;
    border: 3px dashed blue;
    box-sizing: border-box;
    background-color: black;
    column-count: 2;
}
#CajaEducacion{
    width: 700px;
    height: 210px;
    border: 3px dashed blue;
    box-sizing: border-box;  
    background-color: black;
}
#CajaHabilidades{
    width: 700px;
    height: 230px;
    border: 3px dashed blue;
    box-sizing: border-box; 
    background-color: black;
}
#CajaContacto{
    width: 700px;
    height: 150px;
    border: 3px dashed blue;
    box-sizing: border-box; 
    background-color: black;
}

/*--Para uso auxiliar--*/
#PuntoParaAcomodarColumnas{
    color: black;
}